
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
<!--<meta charset="utf-8" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Interview Question Asnwer - Shiksha</title>

<meta name="description" content="Learn and practice Aptitude questions and answers with explanation for interview, competitive examination and entrance test." />

</head>

<body>


<div class="whole-page">
    <div class="pagehead"><h2 class="pagehead">Welcome to Shiksha !</h2></div>
    <div class="div-home-module"> 
    <h3 class="home">Interview</h3>
    <ul class="ques-ans">
       <li><a href="_blank">C Questions</a></li>
       <li><a href="_blank">C++ Questions</a></li>
       <li><a href="_blank">C# Questions</a></li>
       <li><a href="_blank">.NET Questions</a></li>
       <li><a href="_blank">Networking Questions</a></li>
       <li><a href="_blank">OS Questions</a></li>
       <li><a href="_blank">DS Questions</a></li>
       <li><a href="_blank">Python Questions</a></li>
    </ul>
    </div>
                
                
         
    <div class="main-right">
        <div class="div-right-inner">

            <!--// Right Side Ad //-->
            <div class="div-ad-site-blank hide-1 hide-2">
                    <h4>Have a question?</h4>
                    <a target="_blank" href="http://www.meritanswers.com/questions/ask/" title="Ask a question at MeritAnswers.com!">Ask your question now !</a>
    <div class="footer">
     <div class="inner-footer">
          <p class="mx-gray mx-fs-13 mx-lh-2">&copy; shiksha&trade; Technologies. All Rights Reserved. | <a href="/about/copyright.php">Copyright</a> | <a href="/about/privacy-policy.php">Terms of Use &amp; Privacy Policy</a></p>
          <p class="mx-gray mx-fs-13 mx-lh-2">Contact us: <span class="mx-green mx-bold">info<span class="mx-none">-@-</span>@shikshatech.com</span> <a style="background-image:url('/_files/images/share/twitter_icon.gif'); white-space:nowrap; background-repeat:no-repeat; background-position:left; padding-left:20px;" href="javascript:void(0)" rel="nofollow" target="_blank" onclick="this.setAttribute('href', 'http://twitter.com/shikshatech')">Follow us on twitter!</a></p>
     </div>
    </div>
        
    </div>
     
</div>

</body></html>
