
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
<!--<meta charset="utf-8" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Interview Question Asnwer - Shiksha</title>

<meta name="description" content="Learn and practice Aptitude questions and answers with explanation for interview, competitive examination and entrance test." />

</head>

<body>

<div class="whole-page">

     <!--[if IE]><div class="inner-page-ie"><![endif]-->
     <div class="inner-page">
        
        <div class="pagehead"><h2 class="pagehead">Welcome to Shiksha !</h2></div>
        
        <div class="menu">
            <a href="/">Home</a>
            <a href="/aptitude/questions-and-answers/">Aptitude</a>
            <a class="hide-1 hide-2" href="/logical-reasoning/questions-and-answers/">Logical Reasoning</a>
            <a class="hide-1 hide-2" href="/verbal-ability/questions-and-answers/">Verbal Ability</a>
            <a href="/general-knowledge/questions-and-answers/" title="General Knowldege Questions and Answers">GK</a>
            <a class="hide-1 hide-2" href="/engineering/">Engineering</a>
            <a href="/interview/">Interview</a>
            <a href="/online-test/categories/" title="Online Tests"><span class="hide-1">Online </span>Test</a>
            <a class="hide-1 hide-2" href="/puzzles/number-puzzles/">Puzzles</a>
            <a class="hide-1 hide-2" href="http://www.meritanswers.com/questions/ask/" title="Ask a question at MeritAnswers.com!">Ask Now !</a> 
        </div>
        <div id="divSubMenu" class="div-sub-menu" style="display:none">
            
            <h3>Quantitive Aptitude</h3>
            <div>
                <a href="/aptitude/questions-and-answers/">Arithmetic Aptitude</a>
                <a href="/data-interpretation/questions-and-answers/">Data Interpretation</a>
            </div>
            
            <h3>Verbal and Reasoning</h3>
            <div>
                <a href="/verbal-ability/questions-and-answers/">Verbal Ability</a>
                <a href="/logical-reasoning/questions-and-answers/">Logical Reasoning</a>
                <a href="/verbal-reasoning/questions-and-answers/">Verbal Reasoning</a>
                <a href="/non-verbal-reasoning/questions-and-answers/">Nonverbal Reasoning</a>
            </div>
            
            <h3>Interview</h3>
            <div>
                <a href="/hr-interview/questions-and-answers/">HR Interview</a>
                <a href="/group-discussion/topics-with-answers/">Group Discussion</a>
                <a href="/placement-papers/companies/">Placement Papers</a>
                <a href="/technical/interview-questions-and-answers/">Technical Interview</a>
            </div>
            
            <h3>Engineering</h3>
            <div>
                <a href="/mechanical-engineering/questions-and-answers/" title="Mechanical Engineering Questions and Answers">Mechanical Engineering</a>
                <a href="/civil-engineering/questions-and-answers/" title="Civil Engineering Questions and Answers">Civil Engineering</a>
                <a href="/electronics-and-communication-engineering/questions-and-answers/" title="Electronics and Communication Engineering Questions and Answers">ECE</a>
                <a href="/electrical-engineering/questions-and-answers/" title="Electrical Engineering Questions and Answers">EEE</a>
                <a href="/computer-science/questions-and-answers/" title="Computer Science Questions and Answers">CSE</a>
                <a href="/engineering/" title="Engineering Questions and Answers">Read more...</a>
            </div>
            
            <h3>Technical</h3>
            <div>
                <a href="/c-programming/questions-and-answers/" title="C Programming Questions and Answers">C Programming</a>
                <a href="/cpp-programming/questions-and-answers/" title="C++ Programming Questions and Answers">C++</a>
                <a href="/c-sharp-programming/questions-and-answers/" title="C# Programming Questions and Answers">C#</a>
                <a href="/java-programming/questions-and-answers/" title="Java Programming Questions and Answers">Java</a>
                <a href="/database/questions-and-answers/" title="Database Questions and Answers">Database</a>
                <a href="/networking/questions-and-answers/" title="Networking Questions and Answers">Networking</a>
            </div>
            
            <h3>Medical Science</h3>
            <div>
                <a href="/microbiology/questions-and-answers/">Microbiology</a>
                <a href="/biochemistry/questions-and-answers/">Biochemistry</a> 
                <a href="/biotechnology/questions-and-answers/">Biotechnology</a> 
                <a href="/biochemical-engineering/questions-and-answers/">Biochemical Engineering</a>
            </div>
            
            <h3>Others</h3>
            <div>
                <a href="/general-knowledge/questions-and-answers/" title="General Knowledge Questions and Answers">General Knowledge</a>
                <a href="/puzzles/number-puzzles/" title="Puzzles Quiz">Puzzles Quiz</a>
                <a href="/puzzles/number-puzzles/" >Sudoku</a>
                <a href="/online-test/categories/" >Online Tests</a>
                <a href="http://www.meritanswers.com/questions/ask/" title="Ask a question at MeritAnswers.Com">Ask your question?</a>
                <a href="#" onclick="$('#divSubMenu').slideToggle()" class="ib-red">Close Menu</a>
            </div>
            
        </div>    
        
        
        <div align="left" id="divIntroduction" style="display:none">
            <H1>Aptitude Questions and Answers</H1> 

            <h2>Why Aptitude?</h2> 
            <p>In this section you can learn and practice Aptitude questions with answers to improve your skills in order to face the interview, competitive examination and various entrance test (CAT, GATE, GRE, MAT, Bank Exam, Railway Exam etc.) with full confidence. </p> 

            <h2>Where can I get aptitude questions and answers with explanation?</h2> 
            <p>IndiaBIX provides you lots of fully solved Aptitude questions and answers with explanation. Solved examples with detailed answer description, explanation are given and it would be easy to understand. You can view the solutions for the problems with feel and good user interface.</p> 

            <h2>How to solve Aptitude problems?</h2> 
            <p>You can easily solve all kind of questions based on Aptitude by practicing exercise given in this APTITUDE section.</p> 

            <h2>What are major topics explained in IndiaBIX.com?</h2>
            <ul>
            <li>Quantitive Aptitude, C Programming and Verbal Ability are the major topics explained with solved examples and explanation.</li>
            <li>Question Paper, exam paper, Materials, notes.</li>
            <li>Previous year CAT (2010, 2011) test papers - PDF Download</li>
            <li>Logical Reasoning</li>
            <li>Online Aptitude Test</li>
            <li>Online C Programming Test</li>
            <li>Data Interpretation Questions with Solutions - Bar charts, Pie Charts, Line Charts and Table Charts.</li>
            <li>Puzzles - Puzzles for Interview, Placement and Competitive Exams</li>
            <li>SUDOKU - Sudoku number puzzles</li>
            <li>Free Online Tests</li>
            <li>Tips and Tricks for Freshers</li>
            <li>Shortcuts - shorcut methods to solve problems</li>
            <li>Quantitative Aptitude by RS Agarwal</li>
            <li>RS Agarwal Reasoning</li>
            <li>Ebook Download - Free</li>
            <li>Interview Test Papers</li>
            <li>Placement Papers</li>
            <li>Group Discussion - GD Topics with Answers</li>
            <li>HR Interview Questions with Answers</li>
            <li>Placement Papers</li>
            <li>Quiz, Questions and Answers - PDF, eBook - Download</li>
            </ul>

        </div>
        
        <div class="breadcrumb">
             <h2 class="home">Here, you can read aptitude questions and answers for your interview and entrance exams preparation.</h2>
        </div>
        
        <div class="main-left">
            
            <div class="div-ad-site-top"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bixer Top -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0191447310372013"
     data-ad-slot="3107019861"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
                <div class="div-home-module"> 
                <h3 class="home">:: General Aptitude</h3>
                <ul class="ques-ans">
                   <li><a href="/aptitude/questions-and-answers/">Arithmetic Aptitude</a></li>
                   <li><a href="/data-interpretation/questions-and-answers/">Data Interpretation</a></li>
                   <li><a href="/online-test/aptitude-test/">Online Aptitude Test</a></li>
                   <li><a href="/online-test/data-interpretation-test/">Data Interpretation Test</a></li>
                </ul>
                </div>
                <div class="div-home-module">     
                <h3 class="home">:: Verbal and Reasoning</h3>
                <ul class="ques-ans">
                   <li><a href="/verbal-ability/questions-and-answers/">Verbal Ability</a></li> 
                   <li><a href="/logical-reasoning/questions-and-answers/">Logical Reasoning</a></li>
                   <li><a href="/verbal-reasoning/questions-and-answers/">Verbal Reasoning</a></li>
                   <li><a href="/non-verbal-reasoning/questions-and-answers/">Non Verbal Reasoning</a></li>
                </ul>
                </div>
               
                               
                <div class="div-home-module" style="clear:left"> 
                <h3 class="home">:: Online Tests</h3>
                <ul class="online-test">
                   <li><a href="/online-test/aptitude-test/">Aptitude Test</a></li>
                   <li><a href="/online-test/verbal-ability-test/">Verbal Ability Test</a></li>
                   <li><a href="/online-test/logical-reasoning-test/">Logical Reasoning Test</a></li>
                   <li><a href="/online-test/c-programming-test/">C Programming Test</a></li>
                   <li><a href="/online-test/java-programming-test/">Java Programming Test</a></li>
                   <li><a href="/online-test/categories/" title="Online Tests"><u>Read more...</u></a></li>
                </ul>
                </div>
                <div class="div-home-module"> 
                <h3 class="home">:: Interview</h3>
                <ul class="interview">
                   <li><a href="/placement-papers/companies/">Placement Papers</a></li>
                   <li><a href="/group-discussion/topics-with-answers/">Group Discussion</a></li>
                   <li><a href="/hr-interview/questions-and-answers/">HR Interview</a></li>
                   <li><a href="/technical/interview-questions-and-answers/">Technical Interview</a></li>
                   <li><a href="/body-language/gestures/">Body Language</a></li>
                   <li><a href="/interview/"><u>Read more...</u></a></li>
                </ul>
                </div>
                
                
                <div class="div-home-module" style="clear:left"> 
                <h3 class="home">:: Puzzles</h3>
                <ul class="puzzles">
                   <li><a href="/puzzles/sudoku/">Sudoku</a></li>
                   <li><a href="/puzzles/number-puzzles/">Number puzzles</a></li>
                   <li><a href="/puzzles/missing-letters-puzzles/">Missing letters puzzles</a></li>
                   <li><a href="/puzzles/logical-puzzles/">Logical puzzles</a></li>
                   <li><a href="/puzzles/clock-puzzles/">Clock puzzles</a></li>
                </ul>
                </div>
                <div class="div-home-module"> 
                <h3 class="home">:: General Knowledge</h3>
                <ul class="ques-ans">
                   <li><a href="/general-knowledge/basic-general-knowledge/">Basic General Knowledge</a></li>
                   <li><a href="/general-knowledge/general-science/">General Science</a></li>
                   <li><a href="/general-knowledge/inventions/">Inventions</a></li>
                   <li><a href="/general-knowledge/world-geography/">World Geography</a></li>
                   <li><a href="/general-knowledge/questions-and-answers/" title="General Knowledge"><u>Read more...</u></a></li>
                </ul>
                </div>
                
                
                <div class="div-home-module" style="clear:left"> 
                <h3 class="home">:: Engineering</h3>
                <ul class="ques-ans">
                   <li><a href="/mechanical-engineering/questions-and-answers/">Mechanical Engineering</a></li>
                   <li><a href="/civil-engineering/questions-and-answers/">Civil Engineering</a></li> 
                   <li>
                        <a href="/electronics-and-communication-engineering/questions-and-answers/" title="Electronics and Communication Engineering Questions and Answers">ECE</a>, 
                        <a style="padding-left:10px" href="/electrical-engineering/questions-and-answers/" title="Electrical Engineering Questions and Answers">EEE</a>, 
                        <a style="padding-left:10px" href="/computer-science/questions-and-answers/" title="Computer Science Questions and Answers">CSE</a>
                   </li>
                   <li><a href="/chemical-engineering/questions-and-answers/">Chemical Engineering</a></li> 
                </ul>
                </div>
                <div class="div-home-module"> 
                <h3 class="home">:: Programming</h3>
                <ul class="ques-ans">
                   <li><a href="/c-programming/questions-and-answers/">C Programming</a></li>
                   <li><a href="/cpp-programming/questions-and-answers/">C++ Programming</a></li>
                   <li><a href="/c-sharp-programming/questions-and-answers/">C# Programming</a></li>
                   <li><a href="/java-programming/questions-and-answers/">Java Programming</a></li>
                </ul>
                </div>
                
                
                <div class="div-home-module" style="clear:left"> 
                <h3 class="home">:: Technical MCQs</h3>
                <ul class="ques-ans">
                   <li><a href="/networking/questions-and-answers/">Networking Questions</a></li> 
                   <li><a href="/database/questions-and-answers/">Database Questions</a></li>
                   <li><a href="/electronics/questions-and-answers/">Basic Electronics</a></li>
                   <li><a href="/digital-electronics/questions-and-answers/">Digital Electronics</a></li>
                   <li><a href="/technical-drawing/questions-and-answers/">Technical Drawing</a></li>
                   <li><a href="/engineering/" title="Engineering Questions"><u>Read more...</u></a></li>
                </ul>
                </div>        
                <div class="div-home-module"> 
                <h3 class="home">:: Technical Short Answers</h3>
                <ul class="technical">
                   <li><a href="/technical/software-testing/">Software Testing</a></li>
                   <li><a href="/technical/data-structures/">Data Structures</a></li> 
                   <li><a href="/technical/c/the-c-language-basics/">The C Language Basics</a></li>
                   <li><a href="/technical/sql-server-general-questions/">SQL Server</a></li>
                   <li><a href="/technical/networking/">Networking</a></li>
                   <li><a href="/technical/core-java/">Core Java</a> &nbsp; &nbsp; <a href="/technical/interview-questions-and-answers/" title="Technical Interview"><u>Read more...</u></a></li>
                </ul>
                </div>        

                
                <div class="div-home-module" style="clear:left"> 
                <h3 class="home">:: Medical / Science</h3>
                <ul class="ques-ans">
                   <li><a href="/microbiology/questions-and-answers/">Microbiology</a></li>
                   <li><a href="/biochemistry/questions-and-answers/">Biochemistry</a></li>
                   <li><a href="/biotechnology/questions-and-answers/">Biotechnology</a></li>
                   <li><a href="/biochemical-engineering/questions-and-answers/">Biochemical Engineering </a></li>
                </ul>
                </div>
                      
                <div class="div-home-module"> 
                <h3 class="home">:: Discussion Forum</h3>
                <ul class="ask">
                   <li><a href="http://www.meritanswers.com/questions/ask/">Have a question? Ask Now.</a></li>
                   <li><a href="http://www.meritanswers.com/questions/">Recent Questions</a></li>
                   <li><a href="http://www.meritanswers.com/questions/my-questions/">My Questions</a></li>
                   <li><span class="ib-green">Happy reading... Have a nice day!</span></li>
                </ul>
                </div>
        </div>
         
        <div class="main-right">
            <div class="div-right-inner">

                <!--// Right Side Ad //-->
                <div class="div-ad-site-blank hide-1 hide-2">
                        <h4>Have a question?</h4>
                        <a target="_blank" href="http://www.meritanswers.com/questions/ask/" title="Ask a question at MeritAnswers.com!">Ask your question now !</a>
                   </div><div class="show-1"><script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <div class="footer">
         <div class="inner-footer">
              <p class="mx-gray mx-fs-13 mx-lh-2">&copy; shiksha&trade; Technologies. All Rights Reserved. | <a href="/about/copyright.php">Copyright</a> | <a href="/about/privacy-policy.php">Terms of Use &amp; Privacy Policy</a></p>
              <p class="mx-gray mx-fs-13 mx-lh-2">Contact us: <span class="mx-green mx-bold">info<span class="mx-none">-@-</span>@shikshatech.com</span> <a style="background-image:url('/_files/images/share/twitter_icon.gif'); white-space:nowrap; background-repeat:no-repeat; background-position:left; padding-left:20px;" href="javascript:void(0)" rel="nofollow" target="_blank" onclick="this.setAttribute('href', 'http://twitter.com/shikshatech')">Follow us on twitter!</a></p>
         </div>
        </div>
        
    </div>
     <!--[if IE]></div><![endif]-->
     
</div>

</body></html>
